.section{
    background-color: rgba(0, 0, 0, 0.774);
    width: 100%;
   height: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.promotion{
    margin-top: 20px;
    border-radius: 10px;
    width: 90vw;
    height: 250px;
    display: flex;
    align-items: center;
   
   
}
.promotion_div{
    border-radius: 10px 0px 0px 10px;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./../img/promocao.webp");
    background-size: cover;
}
.promotion_text{
    border-radius: 10px 0px 0px 10px;
    background-color: rgba(0, 0, 0, 0.459);
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(230, 109, 11);
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    width: 100%;
    height: 100%;
}
.offers{
    border-radius: 10px 10px 10px 10px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);

}
.offers img{
    border-radius: 0px 10px 10px 0px;
    width: 35%;
    height: 100%;
  
}
.offers h3{
    border-radius: 10px 10px 10px 10px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.438);
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 40px;
    }

.box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;

}
.box h3{
    position: absolute;
    top:auto;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.541);
    height: 100%;
    width: 100%;
    font-size: 60px;
    font-weight: 900;
    color:white;
}
.box img{
    width: 100%;
    height: 100%;
}
span{
    z-index: 150;
}

.list_product{
    border-radius: 10px;
    margin-top: 25px;
    width:90%;
    height: 100%;
    background-color: #e7e7e7;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    width: 250px;
    height: 350px;
    background-color: white;
    align-items: center;
    margin-top: 15px;
    
}
.product img{
    border-radius: 10px;
}
.product h1{
    font-weight: 500;
    font-family: 'Inconsolata', monospace;
}
.product button{
        
    border-radius: 0px 0px 7px 7px;
    width: 100%;
    height: 40px;
    background-color: rgb(28, 146, 28);
    color: white;
    font-size: 15px;
    transition: background-color 0.3s, color 0.3s;
}
.product button:hover{
    background-color: rgb(18, 204, 18);
    cursor: pointer;
    color: black;
}
.price_product{
    color: green;
    font-weight: 700;
}