.titulo_carrinho {
  text-align: center;
  margin-bottom: 80px;
  font-size: 35px;
  font-weight: 600;
  color: #ff0000;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.precos_frete {
  margin-top: 30px;
  font-size: 20px;
  font: inherit;
  font-family: 'Montserrat', sans-serif;
}

.precos_frete span {
  font-weight: bold;
}

.opcao_frete {
  margin-top: 25px;
  font-size: 20px;
  font: inherit;
  font-family: 'Montserrat', sans-serif;
}

.opcao_frete li {
  display: flex;
  font-size: 20px;
  font: inherit;
  font-family: 'Montserrat', sans-serif;
  height: 30px;
  align-items: center;
  padding-left:  5px ;
}
.arruma-correio{
  align-items: baseline !important;
  padding: 5px 0px 10px 5px !important;
}
.selecionado_frete {
  background-color: #23db0c6b;
  padding: 10px 10px 10px 5px ;
  border-radius: 10px;
}

.dinheiro {
  color: green;
  font-weight: 600;
}

.shoping-cart-total {
  font-size: 22px !important;
  font: inherit !important;
  font-family: 'Montserrat', sans-serif !important;
}

.shoping-cart-total h4 {
  font-size: 22px !important;
  font-weight: bold;
  font: inherit !important;
  font-family: 'Montserrat', sans-serif !important;
}

.opcao_frete span {
  font-weight: 600;
  margin-left: 5px;
}

.opcao_frete img {
  height: 19px;
  margin-right: 10px;

}

.opcao_frete h1 {
  font-weight: 700;
  margin: 0 5px;
  color: green;
}